In [62]:
import pandas as pd

df = pd.read_csv("Coffee_Chain.csv")
df.head()

,Area Code,Date,Territory,Territory Size,Product,Product Line,Product Type,State,Type,Budget COGS,Budget Margin,Budget Profit,Budget Sales,COGS,Inventory,Margin,Marketing,Profit,Sales,Total Expenses
0,970,1/1/2012,Central,Major Territory,Decaf Irish Cream,Beans,Coffee,Colorado,Decaf,$100,$140,$110,$240,$95,821,$139,$26,$101,$234,$38
1,309,1/1/2012,Central,Major Territory,Decaf Irish Cream,Beans,Coffee,Illinois,Decaf,$100,$140,$100,$240,$95,608,$139,$30,$87,$234,$52
2,614,1/1/2012,Central,Major Territory,Decaf Irish Cream,Beans,Coffee,Ohio,Decaf,$60,$90,$20,$150,$63,435,$87,$57,$0,$150,$87
3,720,1/1/2012,Central,Major Territory,Decaf Espresso,Beans,Espresso,Colorado,Decaf,$80,$130,$80,$210,$72,558,$108,$23,$53,$180,$55
4,630,1/1/2012,Central,Major Territory,Decaf Espresso,Beans,Espresso,Illinois,Decaf,$260,$270,$180,$530,$228,"1,459",$228,$63,$140,$456,$88

In [63]:
money_columns = ['Budget COGS',	'Budget Margin', 'Budget Profit', 'Budget Sales', 'COGS', 'Inventory', 'Margin',	'Marketing', 'Profit', 'Sales', 'Total Expenses']

In [64]:
df.dtypes

Area Code          int64
Date              object
Territory         object
Territory Size    object
Product           object
Product Line      object
Product Type      object
State             object
Type              object
Budget COGS       object
Budget Margin     object
Budget Profit     object
Budget Sales      object
COGS              object
Inventory         object
Margin            object
Marketing         object
Profit            object
Sales             object
Total Expenses    object
dtype: object

In [65]:
import re

x = re.search(r'(\(*)\$(\d+)', "$100")
print(x.group(2))

100

In [66]:
def clean_money(money):
    r = re.search(r'(\(?)?\$?([\d,]+)(\)?)', str(money))
    
    # not match anything
    if(not r):
        print(123)
        return money

    is_negative = r.group(1)
    value = r.group(2).replace(',', '') # remove comma
    if(is_negative):
        return '-' + value
    else:
        return value

In [67]:
for money_column in money_columns:
    df[money_column] = df[money_column].apply(clean_money).astype(int)
df

,Area Code,Date,Territory,Territory Size,Product,Product Line,Product Type,State,Type,Budget COGS,Budget Margin,Budget Profit,Budget Sales,COGS,Inventory,Margin,Marketing,Profit,Sales,Total Expenses
0,970,1/1/2012,Central,Major Territory,Decaf Irish Cream,Beans,Coffee,Colorado,Decaf,100,140,110,240,95,821,139,26,101,234,38
1,309,1/1/2012,Central,Major Territory,Decaf Irish Cream,Beans,Coffee,Illinois,Decaf,100,140,100,240,95,608,139,30,87,234,52
2,614,1/1/2012,Central,Major Territory,Decaf Irish Cream,Beans,Coffee,Ohio,Decaf,60,90,20,150,63,435,87,57,0,150,87
3,720,1/1/2012,Central,Major Territory,Decaf Espresso,Beans,Espresso,Colorado,Decaf,80,130,80,210,72,558,108,23,53,180,55
4,630,1/1/2012,Central,Major Territory,Decaf Espresso,Beans,Espresso,Illinois,Decaf,260,270,180,530,228,1459,228,63,140,456,88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4243,253,1/12/2013,West,Small Territory,Earl Grey,Leaves,Tea,Washington,Regular,30,40,20,70,43,466,63,13,42,113,35
4244,775,1/12/2013,West,Small Territory,Green Tea,Leaves,Tea,Nevada,Regular,210,-210,-320,0,294,8252,-294,111,-605,33,145
4245,503,1/12/2013,West,Small Territory,Green Tea,Leaves,Tea,Oregon,Regular,90,140,100,230,134,690,186,41,180,341,65
4246,435,1/12/2013,West,Small Territory,Green Tea,Leaves,Tea,Utah,Regular,10,20,0,30,20,218,25,7,-22,48,40
4247,509,1/12/2013,West,Small Territory,Green Tea,Leaves,Tea,Washington,Regular,40,50,-10,90,55,627,76,49,-4,140,79

In [68]:
df.dtypes

Area Code          int64
Date              object
Territory         object
Territory Size    object
Product           object
Product Line      object
Product Type      object
State             object
Type              object
Budget COGS        int64
Budget Margin      int64
Budget Profit      int64
Budget Sales       int64
COGS               int64
Inventory          int64
Margin             int64
Marketing          int64
Profit             int64
Sales              int64
Total Expenses     int64
dtype: object

In [69]:
from datetime import datetime

date_column = 'Date'

df[date_column] = df[date_column].apply(lambda d: datetime.strptime(d, '%d/%m/%Y').strftime('%d-%m-%Y'))

In [70]:
df

,Area Code,Date,Territory,Territory Size,Product,Product Line,Product Type,State,Type,Budget COGS,Budget Margin,Budget Profit,Budget Sales,COGS,Inventory,Margin,Marketing,Profit,Sales,Total Expenses
0,970,01-01-2012,Central,Major Territory,Decaf Irish Cream,Beans,Coffee,Colorado,Decaf,100,140,110,240,95,821,139,26,101,234,38
1,309,01-01-2012,Central,Major Territory,Decaf Irish Cream,Beans,Coffee,Illinois,Decaf,100,140,100,240,95,608,139,30,87,234,52
2,614,01-01-2012,Central,Major Territory,Decaf Irish Cream,Beans,Coffee,Ohio,Decaf,60,90,20,150,63,435,87,57,0,150,87
3,720,01-01-2012,Central,Major Territory,Decaf Espresso,Beans,Espresso,Colorado,Decaf,80,130,80,210,72,558,108,23,53,180,55
4,630,01-01-2012,Central,Major Territory,Decaf Espresso,Beans,Espresso,Illinois,Decaf,260,270,180,530,228,1459,228,63,140,456,88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4243,253,01-12-2013,West,Small Territory,Earl Grey,Leaves,Tea,Washington,Regular,30,40,20,70,43,466,63,13,42,113,35
4244,775,01-12-2013,West,Small Territory,Green Tea,Leaves,Tea,Nevada,Regular,210,-210,-320,0,294,8252,-294,111,-605,33,145
4245,503,01-12-2013,West,Small Territory,Green Tea,Leaves,Tea,Oregon,Regular,90,140,100,230,134,690,186,41,180,341,65
4246,435,01-12-2013,West,Small Territory,Green Tea,Leaves,Tea,Utah,Regular,10,20,0,30,20,218,25,7,-22,48,40
4247,509,01-12-2013,West,Small Territory,Green Tea,Leaves,Tea,Washington,Regular,40,50,-10,90,55,627,76,49,-4,140,79